ul li{
 list-style-type: none;
  margin: 0 10px;
  a{
      text-decoration: none;
      color:$t-gray-1;
      text-transform: uppercase;
      font-weight: normal;
      font-size:.9em;
  }
}
h1{
    text-transform: uppercase;
    font-size: 4.6rem;
    color: $t-light; 
   
    margin: 20px 0;
}
h2{
    text-transform: uppercase;
    font-size: 3.0em;
    color: $t-light; 
   
    margin: 20px 0;
}

h3{
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 2.7rem;
    color: $t-light;
}
h4{
    color: $t-black;
    font-size: 1.7em;
    text-transform: uppercase;
    
}
h5{
    color: $t-black;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}
h6{
    color: $t-black;
    font-size: 1em;
    font-weight: normal;
    text-transform: capitalize;
    margin: 10px 0;
}
p{
    color:$t-gray-3;
    font-weight: lighter;
    line-height: 26px;
}

small{
    color: $t-gray-3;
    display: block;
    font-weight: lighter;
}

hr{
    width:100%;
    border: 0.1px thin $t-gray-3;

}

// btns + a
li a.active{
    border-top: 4px solid #fff;
    color: #fff;
    padding: 15px 0 0 0;
  }

.btn{
   padding: 15px 50px;
   text-transform: uppercase;
   border: 3px solid $bg-blue-dark;
   margin: 20px 10px;
   cursor: pointer;
}
.btn-icon{
   padding: 11px 13px;
   cursor: pointer;
   margin: 5px;
}

.btn-dark{
    background-color: $bg-blue-dark;
    color: $t-light-gray;
}
.btn-light-blue{
    background-color: $bg-blue-light;
    color: $t-light-gray;
    border: 1px solid $bg-blue-light;
}
.btn-green{
    background-color: $bg-green;
    color: $t-dark-blue;
    border-color: $bg-light;
    border-color: $t-dark-blue;
}
.btn-yellow{
    background-color: $bg-yellow;
    color: $t-dark-blue;
    border-color: $bg-yellow;
}
.btn-red{
    background-color: $bg-red;
    color: $t-light;
    border-color: $bg-red;
}

.btn-outline-green{
    background-color: $bg-blue-dark;
    color: $t-green;
    border: 1px solid $border-light;
}

.btn-outline-yellow{
    background-color: $bg-blue-dark;
    color: $bg-yellow;
    border: 1px solid $border-light;
}


.circle{
    border-radius: 50%;
}
//** HOVER **/
.btn-icon:hover{
    border-color: $t-dark-blue;
    background-color: $bg-red-dark;
    color: $t-light;
}
.btn:hover{
   border-color: $t-dark-blue;
   border-width: 3px;
   background-color: $bg-red-dark;
   color: $t-light;
}