ul li{
 list-style-type: none;
  margin: 0 10px;
  padding: 8% 0;
  a{
      text-decoration: none;
      color:$t-gray-1;
      text-transform: uppercase;
      font-weight: lighter;
      font-size:.9em;
  }
}

.active{
    border-top: 2px solid $t-light;
    color: $t-light;
  }

  small{
    color: $t-gray-3;
    display: block;
    font-weight: lighter;
}

hr{
    width:100%;
    border: 0.1px thin $t-gray-3;

}