//background color
$bg-light:#fff;
$bg-dark:#ffffff1a;
$bg-gray:#ffffff80;
$bg-yellow:#ffc318;
$bg-green:#39ffbf;
$bg-green-light:#35ffbf;
$bg-blue:#527ceb;
$bg-red:#f81d39;
$bg-red-dark:#f00e2e;
$bg-gray-dark:#3d3d3d;
$bg-gray-dark-1:#333333;
$bg-blue-dark:#1f1e38;
$bg-blue-light:#36354c;
$bg-gray-dark-2:#000000b3;
$bg-black:#000000e6;
//text color
$t-light:#fff;
$t-gray-1:#ffffffb0;
$t-gray-3:#ffffff80;
$t-gray-2:#ffffffb3;
$t-light-gray:#ffffffcc;
$t-gray-4:#ffffff66;
$t-gray-5:#818a91;
$t-gray-6:#444444;
$t-gray-7:#3d3d3d;
$t-green:#39ffbf;
$t-blue:#1bb0ce;
$t-dark-blue:#1f1e38;
$t-dark-blue-1:#1f1e38b3;
$t-dark-blue-2:#1f1e3880;
$t-dark-blue-3:#1f1e3899;
$t-red:#f81d39;
$t-brown:#aaaaaa;
$t-brown-1:#888888;
$t-black:#000000;

//fill colors
$light-color:#fff;
$dark-color:#000;

//border colors
$border-light:#fff;
$border-dark:#ffffff26;

//font
$font-family:'Roboto', sans-serif;;